<p>generator</p>

<form method="get" action="">
    <label for="genre"><b>Select Genre:</b> </label>
    <select class="type" id="genre" name="genre" value="" required>
        <option class="type" value="Rock">Rock</option>
        <option class="type" value="Pop">Pop</option>
        <option class="type" value="Indie-Rock">Indie Rock</option>
        <option class="type" value="Hip-Hop">Hip-Hop</option>
        <option class="type" value="Emo-Rap">Emo Rap</option>
        <option class="type" value="Bedroom-Pop">Bedroom Pop</option>
    </select>
    <input type="submit">
</form>

{{#each songs}}
<p>{{this.name}}</p>
{{/each}}