<h4>homepage</h4>
<a href="https://accounts.spotify.com/authorize?client_id={{client_id}}&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fredir&scope=user-top-read,playlist-read-private,playlist-read-collaborative">click</a>
<p>current user: {{user}}</p>

<h1>Instructions: click "generate" to see the rough form. The click button will crash the application due to the volume of API calls, but at one point worked to query the API and record songs from my library into a database. This has taken a long time and I'm still struggling to gather genre data because the rate limit is now being exceeded consistently and I'm not sure why. This is why all the genres in "generate" produce the same songs.</h1>