<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>

	<body>
		<script src="main.js"></script>
		
		<nav>
			<div class="nav-wrapper">
				<h1>MyPlaylist-ify</h1>
				<a>{{user}}</a>
			</div>
		</nav>

		
		<div class="sidebar">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/generate">Generator</a></li>
				<li><a href="/myplaylists">My Playlists</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
		</div>

		<div id="content">
			{{{ body }}}
		</div>
		
		
	</body>
</html>

