<h1>hello world</h1>
<a href="/home">home</a>
<a href="/generate">generator</a>
<a href="/myplaylists">my playlists</a>
<a href="/register">register/login</a>


<div id="content">
		{{{ body }}}
	</div>